<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="top">
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="top-links">
                    <li><i class="flaticon-support"></i><a href="support.html" title="">support center</a></li>
                    <li><i class="flaticon-info"></i><a href="faq.html" title="">Faq's</a></li>
                </ul>
                <div class="login-area" th:if="${currentUser==null}">
                    <ul>
                        <li class="log-in"><a href="/sign" title="Login"><i class="flaticon-unlocked"></i> login</a></li>
                        <li class="Register"><a href="/user/registration" title="Register"><i class="flaticon-checked"></i> register</a></li>
                        <li class="post"><a href="#" title="">+post</a></li>
                    </ul>
                </div>
                <div class="login-area" th:if="${currentUser != null}">
                    <ul>
                        <li class="post"><a href="#" title="">+post</a></li>
                        <li class="log-in">
                            <a href="#" title="">
                                <img src="../images/resources/login-avatar.jpg" alt="">
                            </a>
                            <div class="login-dropdown">
                                <span></span>
                                <a href="#" title="">see profile</a>
                                <ul>
                                    <li><a href="#" title="">points <span class="badge">0</span></a></li>
                                    <li><a href="#" title="">cars</a></li>
                                    <li><a href="#" title="">balance</a></li>
                                    <li><a href="#" title="">earning</a></li>
                                    <li class="signout"><a href="#" title="">sign out <i class="fa fa-power-off"></i></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>