<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Car East</title>
    <link rel="icon" type="image/png" href="../images/fav.png">

    <link rel="stylesheet" href="../css/apps.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/color.css">
    <link rel="stylesheet" href="../css/responsive.css">

</head>
<body>
<!-- topbar -->

<div class="topbar" style="width: 70px">
    <div style="width: 100px" size="10px" class="container">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <div class="logo">
                        <a href="/" title="index.html"><img src="../images/logo-black.png" alt=""></a>
                    </div>
                    <nav>

                        <h5 style="color: green";  th:text="${message}"></h5>

                        <font style="size: 100px"> <a class="log-in"><a href="/sign"><i class="flaticon-unlocked"
                                                                                       th:text="#{login}"></i> </a></a>
                        </font>



                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>
</ul>
</div>
</div><!-- Responsive Header -->


<section>
    <div class="featured-area">
        <ul class="featured-caro">
            <li><img src="../images/resources/featured-avatar3.jpg" alt=""></li>
            <li><img src="../images/resources/featured-avatar4.jpg" alt=""></li>
        </ul>
    </div>
</section><!-- feature area -->


</div>

<script src="../js/apps.min.js"></script>
<script src="../js/script.js"></script>

</body>
</html>